In [34]:
import pandas as pd 
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.cross_validation import train_test_split
import cPickle

In [2]:
height_weight_df = pd.read_csv('gender-height-weight.csv')

In [3]:
height_weight_df.head()

  Gender     Height      Weight  Height (cm)  Weight (kg)
0   Male  73.847017  241.893563   187.571423   109.720985
1   Male  68.781904  162.310473   174.706036    73.622732
2   Male  74.110105  212.740856   188.239668    96.497550
3   Male  71.730978  220.042470   182.196685    99.809504
4   Male  69.881796  206.349801   177.499762    93.598619

In [4]:
del height_weight_df['Height (cm)']
del height_weight_df['Weight (kg)']

In [5]:
height_weight_df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [9]:
height_weight_df.groupby('Gender').describe()

                   Height       Weight
Gender
Female count  5000.000000  5000.000000
       mean     63.708774   135.860093
       std       2.696284    19.022468
       min      54.263133    64.700127
       25%      61.894441   122.934096
       50%      63.730924   136.117583
       75%      65.563565   148.810926
       max      73.389586   202.237214
Male   count  5000.000000  5000.000000
       mean     69.026346   187.020621
       std       2.863362    19.781155
       min      58.406905   112.902939
       25%      67.174679   173.887767
       50%      69.027709   187.033546
       75%      70.988744   200.357802
       max      78.998742   269.989698

In [32]:
female_height = height_weight_df.groupby('Gender').mean()['Height']
male_height = height_weight_df.groupby('Gender').mean()['Height']

In [11]:
#Make dummy variables for Gender.
df_gender = pd.get_dummies(height_weight_df['Gender'])

In [12]:
height_weight_gender_df = pd.concat([height_weight_df, df_gender], axis=1)

In [14]:
del height_weight_gender_df['Gender']

In [15]:
height_weight_gender_df

         Height      Weight  Female  Male
0     73.847017  241.893563       0     1
1     68.781904  162.310473       0     1
2     74.110105  212.740856       0     1
3     71.730978  220.042470       0     1
4     69.881796  206.349801       0     1
5     67.253016  152.212156       0     1
6     68.785081  183.927889       0     1
7     68.348516  167.971111       0     1
8     67.018950  175.929440       0     1
9     63.456494  156.399676       0     1
10    71.195382  186.604926       0     1
11    71.640805  213.741169       0     1
12    64.766329  167.127461       0     1
13    69.283070  189.446181       0     1
14    69.243732  186.434168       0     1
15    67.645620  172.186930       0     1
16    72.418317  196.028506       0     1
17    63.974326  172.883470       0     1
18    69.640060  185.983958       0     1
19    67.936005  182.426648       0     1
20    67.915050  174.115929       0     1
21    69.439440  197.731422       0     1
22    66.149132  149.173566       0     1
23    75.205974  228.761781       0     1
24    67.893196  162.006652       0     1
25    68.144033  192.343977       0     1
26    69.089631  184.435174       0     1
27    72.800844  206.828189       0     1
28    67.421242  175.213922       0     1
29    68.496415  154.342639       0     1
...         ...         ...     ...   ...
9970  65.618737  151.500389       1     0
9971  64.640247  155.318297       1     0
9972  60.653733  123.084293       1     0
9973  60.737031  120.926500       1     0
9974  65.393947  143.017835       1     0
9975  66.251923  124.019917       1     0
9976  61.475904  121.387236       1     0
9977  64.494838  149.402547       1     0
9978  57.375759  114.192209       1     0
9979  62.056012  125.135897       1     0
9980  60.472262  110.768228       1     0
9981  60.443264  135.559390       1     0
9982  69.868511  177.992066       1     0
9983  65.830726  132.827889       1     0
9984  59.047029  111.707369       1     0
9985  68.041065  170.514213       1     0
9986  63.352698  141.906510       1     0
9987  65.610243  151.169475       1     0
9988  59.538729  121.244875       1     0
9989  60.955084   95.686674       1     0
9990  63.179498  141.266100       1     0
9991  62.636675  102.853563       1     0
9992  62.077832  138.691680       1     0
9993  60.030434   97.687432       1     0
9994  59.098250  110.529686       1     0
9995  66.172652  136.777454       1     0
9996  67.067155  170.867906       1     0
9997  63.867992  128.475319       1     0
9998  69.034243  163.852461       1     0
9999  61.944246  113.649103       1     0

[10000 rows x 4 columns]

In [22]:
weight = height_weight_gender_df['Weight']
predictors = height_weight_gender_df[['Height','Female', 'Male']]

In [26]:
train_set, test_set, train_target, test_target = train_test_split(predictors, weight, test_size=0.33, random_state=42)

In [24]:
linear_regression = LinearRegression(fit_intercept= True, normalize= True, n_jobs= -1)

In [27]:
linear_regression.fit(train_set, train_target)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=-1, normalize=True)

In [28]:
linear_regression.predict(test_set)

array([ 165.52411579,  185.81237238,  171.33107368, ...,  137.35067088,
        122.29760862,  128.37693118])

In [29]:
linear_regression.score(test_set, test_target)

0.90269958791394578

In [35]:
with open('linear_regression_model.pkl', 'wb') as fid:
    cPickle.dump(linear_regression, fid)